body {
  min-height: 1000px;
  
}


.navbar-static-top {
  margin-bottom: 10px;
  background-color: #41B9FF;
  border-color: black;
  color: blue;
}
.navbar-default .navbar-nav .navbar-brand a {
	color: #FFF;
}

.navbar-default .navbar-brand:hover {
  color: #777;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #000;
}

.navbar-toggle:hover {
 background-color: #00B2FF transparent !important;
}
.navbar-toggle {
 background-color: #5ACDFF transparent !important;
}
/**/